<%- include('./partials/head') %>
<body>
<%- include('./partials/nav') %> 
<ul class="timeline">
<% for( let i=result.length-1; i >= 0; i--){ %>
	<% if(i%2 == 0){ %>
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag"><%= result[i].message %></span>
				<span class="time-wrapper"><span class="time"><%= result[i].name %></span></span>
			</div>
			<div class="desc"><%= result[i].createdAt %></div>
		</div>
	</li>
	<% }else{ %>
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag"><%= result[i].message %></span>
				<span class="time-wrapper"><span class="time"><%= result[i].name %></span></span>
			</div>
			<div class="desc"><%= result[i].createdAt %></div>
		</div>
	</li>
	<% } %>
	<% } %>
</ul>

</body>
</html>